#!/bin/bash

# This file is an empty sample file which you (i.e. Pear
# developers) can copy and use to store your API credentials for
# external APIs used by the Pear application.

# To use this file, simply copy it to credentials.sh (which is
# .gitignore'd) and then fill in whatever credentials you need.  Then in
# the window where you run "rails s", first run:
#
#     source credentials.sh
#
# If you then run "rails s", it will have all the environment variables
# available to it.

### CREDENTIALS ###

# Github app credentials are required to sign in to Pear.  
# Here is a link to get set up with the necessary github credentials:
# http://wiki.growstuff.org/index.php/Pear#Setting_up_OAuth

export GITHUB_APP_ID=""
export GITHUB_APP_SECRET=""