%h2 Your availability
= form_for @user do |f|
  %p
    =f.check_box :available
    I wanna pair on some code!
  .field
    %p
      =f.label :time_zone
      =f.time_zone_select :time_zone
  %p
    =f.check_box :can_mentor
    I can mentor
  %p
    =f.check_box :wants_mentor
    I'm looking for a mentor
  %p
    =f.submit "Update", :class => 'btn'


