%h1= @user.name
- if @user.available
  %h3.yay is available!
- else
  %h3.boo is not available :-(

%p
  %b Time zone: 
  = @user.tz_string

- if @user.can_mentor
  %p 
    %i.icon-ok
    Can mentor.

- if @user.wants_mentor
  %p
    %i.icon-ok
    Wants a mentor.

-if can? :edit, @user
  %p= link_to 'Edit', edit_user_path(@user), :class => 'btn'
